<!-- <h1>This HTML was changed</h1> -->

<div class="container">
  <h1>ANGULAR + ASP NET CORE CRUD</h1>

  <div class="cards-container">
    <div class="cards-form">
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="">Card Name</label>
          <input type="text " name="cardName" [(ngModel)]="card.cardHolderName">
        </div>
        <div class="form-group">
          <label for="">Card Number</label>
          <input type="text " name="cardNumber"  [(ngModel)]="card.cardNumber">
        </div>
        <div class="form-group form-group-inline">
          <div>
            <label for="">CVC</label>
            <input type="text" name="cvc" [(ngModel)]="card.cvc">
          </div>
          <div>
            <label for="">Expire Month</label>
            <input type="text" name="expireMonth" [(ngModel)]="card.expireMonth">
          </div>
          <div>
            <label for="">Expire Year</label>
            <input type="text" name="expireYear" [(ngModel)]="card.expireYear">
          </div>
        </div>
        <div class="form-group">
          <button>Save</button>
        </div>
      </form>
    </div>
    <div class="cards-grid"> 

      <div class="card-row" *ngFor="let card of cards">
        <div (click)="editForm(card)" class="card-row-details">
          <span>{{card.cardHolderName}}</span>
          <span>{{card.cardNumber}}</span>
        </div>
        <div class="card-row-action">
          <a (click)="deleteCard(card.id)"><i class="fa fa-trash"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>